.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .roll-btn {
    width: 202px;
    height: 60px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 100px 0;
    transition: all 0.3s ease-in 0s;
    color: #120316;
    background: rgba(255, 255, 255, 1);

    &:hover {
      cursor: pointer;
      font-size: 21px;
    }
    &:disabled {
      background: rgba(255, 255, 255, 0.8);
      font-size: 21px;
    }
  }
}
